<div class="upper-menu-bar setting-bar hidden">
  <ul>
    <li><%= link_to "アカウント", users_account_path %></li>
    <li><%= link_to "プロフィール", users_profile_path %></li>
  </ul>
</div>

<div class="side-menu-bar setting-bar">
  <ul>
    <li><%= link_to "アカウント", users_account_path %></li>
    <li><%= link_to "プロフィール", users_profile_path %></li>
  </ul>
</div>