<div class="container room-show-container">
  <div class="room-show">
    <%= image_tag "room_images/#{@room.image_name}", class: "room-image", alt: "部屋画像"%>
    <div>
    </div>
    <div>
    </div>
  </div>
  <div class="reservation-form"></div>
</div>